
html, body {
  height: 100%;
}

/*sticky footer for short pages using page-wrap*/
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -374px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 374px; 
}

/*removed line in links*/
a {
  text-decoration: none !important;
}

.dropdown:hover > .dropdown-menu{
	display: block;

}

.footer-above 
{
	max-width: 100%;
}
#student_info {
  display:none;
}

#student_info-show {
  display:block;
}

.moveIcon {
	margin-left:40px;
}

.textwhite{
	color: white;
}

.smalltext{
	font-size: 10pt;
}

.required {
	color: red;
}

.logindesign {
	margin-top:80px;
}

.normalfont {
	font-weight:normal;
}

.reducepadding{
	padding-top: 10px;
}