html,
body {
    height: 100%;
}

.navbar
{
	min-height: 10px;
}
.item,
.active {
    height: 500px;
}

.carousel {
	height: 600px;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel .item {
  height: 700px;
}

#map{
padding-bottom: 0px;
}

a {
  color: #000;
  text-decoration: none !important;
}

/* circle link: on hover - create surrounding circles */
.circle-link a::before,
.circle-link a::after
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.circle-link a::after {
	width: 63px;
	height: 63px;
	border-width: 4px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.circle-link a:hover::before,
.circle-link a:hover::after
{
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}



/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*star design*/
hr.star-blue,
hr.star-green {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-blue:after,
hr.star-green:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-blue {
    border-color: #fff;
}

hr.star-blue:after {
    color: #fff;
    background-color: #25A7DE;
}

hr.star-green {
    border-color: #fff;
}

hr.star-green:after {
    color: #fff;
    background-color: #8BC43F;
}

/*p text colour*/
p {
	color: #fff;
}

/* keyframes are user-defined animations used for 
 * webkit-animation, -moz-animation, etc
 * to use a keyframe animation, write -webkit-animation: fadein 0.5s;,
 * -webkit-animations use -webkit-keyframes, so make sure one is defined for all animations.
 * only works on IE10 and up.
 */
@keyframes leftFadein {
    from { 
		opacity: 0; 
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px);
	}
    to { 
		opacity: 1; 
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}
}

/* Firefox < 16 */
@-moz-keyframes leftFadein {
    from { 
		opacity: 0; 
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px)
	}
    to { 
		opacity: 1; 
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes leftFadein {
    from { 
		opacity: 0; 
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}
    to { 
		opacity: 1; 
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}
}

/* Internet Explorer */
@-ms-keyframes leftFadein {
    from { 
		opacity: 1; 
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px);
	}
    to { 
		opacity: 1; 
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

.fadedIn {
	-webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.7s; /* Firefox < 16 */
    -ms-animation: fadein 0.7s; /* Internet Explorer */
    -o-animation: fadein 0.7s; /* Opera < 12.1 */
}

.fadedLeft {
	-webkit-animation: leftFadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: leftFadein 0.7s; /* Firefox < 16 */
    -ms-animation: leftFadein 0.7s; /* Internet Explorer */
    -o-animation: leftFadein 0.7s; /* Opera < 12.1 */
}

.bounced {
	-webkit-animation: bounce 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bounce 1.5s; /* Firefox < 16 */
    -ms-animation: bounce 1.5s; /* Internet Explorer */
    -o-animation: bounce 1.5s; /* Opera < 12.1 */
}

.blackFont{
	color:black;
}

.center-button{
	margin-left: -90px;
	left: 50%;
	width: 200px;
	position:relative;
}

.paddingbutton{
	padding-bottom: 10px;
}

/* this is to replace the default bootstrap 0.6 tranisition timer. all other styles for this rule is based off bootstrap */
.carousel-inner > .item {
  -webkit-transition: 0.9s ease-in-out left;
  -moz-transition: 0.9s ease-in-out left;
  -o-transition: 0.9s ease-in-out left;
  transition: 0.9s ease-in-out left;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
    .collapse.in{
  		display:block !important;
	}
}