html,
body {
    height: 100%;
    margin-top: 10px;
}

a {
  color: white;
  text-decoration: none !important;
}

.dropdown:hover > .dropdown-menu{
	display: block;

}

.footer-above 
{
	max-width: 100%;
}
#student_info {
  display:none;
}

#student_info-show {
  display:block;
}

.moveIcon {
	margin-left:40px;
}

.textwhite{
	color: white;
}

.smalltext{
	font-size: 10pt;
}