body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropdown:hover > .dropdown-menu{
	display: block;

}
#student_info {
  display:none;
}

#student_info-show {
  display:block;
}