<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<head>
    <link rel="stylesheet" type="text/css" href="/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabstyles6.css" />
    <!-- datepicker CSS -->
    <link href="/css/datepicker.css" rel="stylesheet">
</head>

<body>
    <div class="page-wrap static-background">
    <section class="container rcorners">
        <div class="tabs tabs-style-linemove">  
            <nav>
                <ul>
                    <li><a href="#profile"><i class="fa fa-user tabicon"></i><span>Users</span></a></li>
                    <li><a href="#courses"><i class="fa fa-list tabicon"></i><span>Courses</span></a></li>
                    <li><a href="#addcourses"><i class="fa fa-plus-square-o tabicon"></i><span>Add Courses</span></a></li>
                    <li><a href="#vol"><i class="fa fa-square tabicon"></i><span>Volunteers</span></a></li>
                    <li><a href="#rental"><i class="fa fa-square tabicon"></i><span>Rental View</span></a></li>
                    <li><a href="#report"><i class="fa fa-square tabicon"></i><span>Report View</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="profile">
                    <!-- Tab On-Click fills profile tab-->
                </section>
                <section id="courses">
                    <!-- Tab On-Click fills courses-->
                </section>
                <section id="addcourses">
                <h1>Add A Course</h1>
                <form name="frm" action = "" method = "post" role = "form">
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Course Name:</label>
                            <input type = "text" class = "form-control" name = "addcoursename" id = "addcoursename" required>
                        </div>
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Course Code:</label>
                            <input type = "text" class = "form-control" name = "addcoursecode" id = "addcoursecode" required>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-8">
                            <label><span class="required">*</span>Description:</label>
                            <textarea class = "form-control" rows = "3" name = "adddescription" id = "adddescription"></textarea>
                        </div>
                    </div>
                    <div class = "row">
                    <div class = "form-group col-sm-8">
                        <label><span class="required">*</span>Date :</label><br>
                        <div class="input-daterange input-group" id="rangedatepicker">
                            <input type="text" class="input-sm form-control" name="startdate" placeholder="YYYY/MM/DD" data-date-end-date="0d" required />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="enddate" placeholder="YYYY/MM/DD" data-date-end-date="0d" required />
                        </div>
                    </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Time:</label>
                            <input type = "text" class = "form-control" name = "addtime" id = "addtime" required>
                        </div>
                        <div class = "form-group col-sm-4" required>
                            <label><span class="required">*</span>Interval:</label><br>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" value="weekly">Weekly
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" value="bi-weekly">Bi-weekly
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optradio"  value="daily">Daily
                            </label>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Cost:</label>
                            <input type = "text" class = "form-control" name = "addcost" id = "addcost" required>
                        </div>
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Target:</label>
                            <input type = "text" class = "form-control" name = "addtarget" id = "addtarget" required>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-8">
                            <label><span class="required">*</span>Days:</label><br>
                            <form role="form">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="monday">Monday
                            </label>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="tuesday">Tuesday
                            </label>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="wednesday">Wednesday
                            </label>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="thursday">Thursday
                            </label>
                            <label class="checkbox-inline">
                              <input type="checkbox" value="friday">Friday
                            </label>
                        </div>
                    </form>
                    </div>
                    <div class="row form-group">
                        <div class = "col-sm-8">
                            <button type = "button" class= "btn btn-default col-sm-2" onclick="" id = "addcourse">Add Course</button>
                        </div>
                    </div>
                </form>
                </section>
                <section id="vol">Volunteers</section>
                <section id="rental">Rental</section>
                <section id="report">Report</section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </section>
            

    </div><!-- /container -->


    <!-- Tabs JavaScript -->
    <script src="/js/tabs.js"></script>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/rangedatepicker.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>
    <script src="/js/adminajax.js"></script>
    <!-- Set Background Javascript -->
    <script src="/js/setBackgroundImage.js"></script>
</body>

<%- include standardfooter %>

</html>