<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<head>
    <link rel="stylesheet" type="text/css" href="/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="/css/tabstyles6.css" />
    <!-- datepicker CSS -->
    <link href="/css/datepicker.css" rel="stylesheet">
</head>

<body>
    <div class="page-wrap">
    <section class="container rcorners">
        <div class="tabs tabs-style-linemove">  
            <nav>
                <ul>
                    <li><a href="#profile"><i class="fa fa-user"></i><span>Users</span></a></li>
                    <li><a href="#courses"><i class="fa fa-list"></i><span>Courses</span></a></li>
                    <li><a href="#addcourses"><i class="fa fa-plus-square-o"></i><span>Add Courses</span></a></li>
                    <li><a href="#vol"><i class="fa fa-square"></i><span>Volunteers</span></a></li>
                    <li><a href="#rental"><i class="fa fa-square"></i><span>Rental View</span></a></li>
                    <li><a href="#report"><i class="fa fa-square"></i><span>Report View</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="profile">
                    <!-- Tab On-Click fills profile tab-->
                </section>
                <section id="courses">
                    <!-- Tab On-Click fills courses-->
                </section>
                <section id="addcourses">
                <h1>Add A Course</h1>
                <form name="frm" action = "" method = "post" role = "form">
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Course Name:</label>
                            <input type = "text" class = "form-control" name = "addcoursename" id = "addcoursename" required>
                        </div>
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Course ID:</label>
                            <input type = "text" class = "form-control" name = "addcourseid" id = "addcourseid" required>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Start Date:</label>
                            <input type = "text" class = "form-control datepicker" name = "addstartdate" id = "startdate" placeholder="YYYY/MM/DD" data-date-end-date="0d" required>
                        </div>
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>End Date:</label>
                            <input type = "text" class = "form-control datepicker" name = "addenddate" id = "enddate" placeholder="YYYY/MM/DD" data-date-end-date="0d" required>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Time:</label>
                            <input type = "text" class = "form-control" name = "addtime" id = "addtime" required>
                        </div>
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Interval:</label>
                            <input type = "text" class = "form-control" name = "addinterval" id = "addinterval" required>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label><span class="required">*</span>Cost:</label>
                            <input type = "text" class = "form-control" name = "addcost" id = "addcost" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <button type = "button" class= "btn btn-default col-sm-2" onclick="" id = "addcourse">Add Course</button>
                    </div>
                </form>
                </section>
                <section id="vol">Volunteers</section>
                <section id="rental">Rental</section>
                <section id="report">Report</section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </section>
            

    </div><!-- /container -->


    <!-- Tabs JavaScript -->
    <script src="/js/tabs.js"></script>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/datepicker.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>
    <script src="/js/adminajax.js"></script>
</body>

<%- include standardfooter %>

</html>