<!DOCTYPE html>
<html>
<%- include standardnavbar.ejs %>

  <head>
    <title><%= title %></title>
    <script src="/js/getcart.js"></script>

    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
        <div class = "page-wrap">
            
            <div id="shoppingcart" class="rcorners">
                <!--GET csrf token-->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="_csrf">
                <p>Shopping Cart </p>
                <table id="cart-table">
                    <tr id="cart-header">
                        <td>Course Name</td>
                        <td>Course Code</td>
                        <td>Cost</td>
                        <td>Delete</td>
                    </tr>
                </table>

            </div>
            <!-- this is an alternative total, outside of the table -->

            <div id="shopping-total">
            </div>
            <!-- end of alt. total -->
            <a href="/payment/paypal"><button type="button" class="btn-primary">Paypal Placeholder</button></a>

          
        </div>
    <h3>
      <a href="http://puu.sh/nXBn3/a20e56ac65.png"> pic </a>
    </h3>
  </body>

<%- include standardfooter %>
</html>
