<!DOCTYPE html>
<html>
<%- include standardnavbar.ejs %>
    
  <head>
    <title><%= title %></title>
    <script src="/js/getcart.js"></script>
    
    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
        <div class = "page-wrap">
            <p>Please someone on the front-end put some code in here!</p> <br>
            <p>The array name is "courses"</p>
            <div id="shoppingcart" class="rcorners">
                <p>Shopping Cart </p>
                <table id="cart-table">
                    <tr id="cart-header">
                        <td>Course Name</td>
                        <td>Course Code</td>
                        <td>Cost</td>
                        <td>Delete</td>
                    </tr>
                </table>
            
            </div>
            <!-- this is an alternative total, outside of the table -->

            <div id="shopping-total">
            </div>
            <!-- end of alt. total -->

            <button type="button" class="btn-primary">Paypal Placeholder</button>
            
        </div>
    <h3>
      <a href="http://puu.sh/nXBn3/a20e56ac65.png"> pic </a>
    </h3>
  </body>

<%- include standardfooter %>
</html>
