<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>
      Please someone on the front-end put some code in here! <br>
      The array name is "courses"
    </p>
    <h3>
      <a href="http://puu.sh/nXBn3/a20e56ac65.png"> pic </a>
    </h3>
  </body>
</html>
