<!DOCTYPE html>
<html>
<%- include standardnavbar.ejs %>

  <head>
    <title><%= title %></title>
    <script src="/js/getcart.js"></script>

    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
        <div class = "page-wrap">
            
            <div id="shoppingcart" class="rcorners">
                <!--GET csrf token-->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="_csrf">
                <h1>MY SHOPPING CART</h1>
                <table id="cart-table">
                    <tr id="cart-header">
                        <td id="cart-header-name">Course Name</td>
                        <td id="cart-header-code">Course Code</td>
                        <td id="cart-header-cost">Cost</td>
                        <td id="cart-header-delete">Delete</td>
                    </tr>
                </table>
                <div id="shoppingcart-buttons">
                    <div>
                        <a href="/user/profile#courses"><button type="button" class="btn-primary smallmargin" id="backtoprofile">Back to Profile</button></a>
                    </div>
                    <div>
                        <a href="/payment/paypal"><button type="button" class="btn-primary smallmargin" id="paypal-button">Checkout</button></a> 
                    </div>
                </div>  
            </div>
        </div>
  </body>

<%- include standardfooter %>
</html>
