<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<head>
    <script src="https://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="/js/detailedcourse.js"></script>
    <link href="/css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
    <div class="page-wrap static-background">
        <section class="container rcorners">
            <input type="hidden" id="_csrf" value="<%= csrfToken %>">   

            <div class="col-sm-4 detailedcoursesidebarmargin">
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-stacked" id="menu">
                        <li><a class="menucolour" href="#course-enrollment" data-toggle="tab"><i class="fa fa-user"></i>Enrollment</a></li>
                        <li><a class="menucolour" href="#course-description" data-toggle="tab"><i class="fa fa-caret-square-o-up "></i>Description</a></li>
                        <li><a class="menucolour" href="#course-schedule" data-toggle="tab"><i class="fa fa-plus-square-o"></i>Schedule</a></li>
                        <li><a class="menucolour" href="#course-instructor" data-toggle="tab"><i class="fa fa-plus-square-o"></i>Instructor</a></li>
                        <li><a class="menucolour" href="#course-tags" data-toggle="tab"><i class="fa fa-tags"></i>Manage Tags</a></li>
                    </ul>
                </div>
            </div>

            <!-- Details Section -->
            <div class="col-sm-offset-2">
                <!-- Course Header -->
                <div class="row">
                    <h2 class="col-sm-10" id="course-name"></h2>
                    <hr class="col-sm-10">
                <div>

                <!-- VOLUNTEER+ ONLY Course List of Enrolled Users -->
                <div class="row" id="course-enrollment">
                    <h3 class="col-sm-6">Class Enrollment</h3>
                    <div class="col-sm-10" class="tablescroller">
                        <table class="table table-bordered" id="course-usertable">
                        </table>
                    </div>
                </div>

                <!-- DESCRIPTION -->
                <div class="row" id="course-description">
                    <h3 class ="col-sm-6">Description</h3>
                    <div class = "col-sm-10">
                        <p id="course-desc-target"></p>
                        <p id="course-desc-language"></p>
                        <p id="course-desc-text"></p>
                        <p id="course-desc-cost"></p>
                    </div>
                </div>

                <!-- SCHEDULE -->
                <div class="row" id="course-schedule">
                    <h3 class = "col-sm-6">Schedule</h3>
                    <div class = "col-sm-10">
                        <p id="course-schedule-daterange"></p>
                        <p id="course-schedule-interval"></p>
                        <div class="tablescroller">
                        <table class="table table-bordered" id="course-schedule-datetable">
                        </table>
                        </div>
                    </div>
                </div>

                <!-- INSTRUCTOR INFORMATION -->
                <div class="row" id="course-instructor">
                    <h3 class = "col-sm-6">Instructor</h3>
                    <div class = "col-sm-10">
                        <p id="course-instructor-name"></p>
                        <p id="course-instructor-desc"></p>
                    </div>
                </div>

                <div class="panel-body col-sm-10" id="course-tags">
                    <h3>Course Tags</h3>
                    <div class = "row">
                        <button type = "button" class = "btn btn-default" id = "tags-edit" onclick="editMode();">Edit Tags</button>
                    </div>
                    <div class = "row" style ="margin-top:10px;">
                        <form class="form-horizontal col-sm-6" role="form" onsubmit="return false">
                            <input type="text" class="form-control" id="tags-search" placeholder="Add a tag to the course." style="display:none;"></input>
                        </form>
                        <button type = "button" class = "btn btn-default col-sm-2" id = "tags-add" style="display:none;" onclick="addTag();">Add</button>
                    </div>
                    <hr id="tags-search-divider">
                    <div class = "row">
                        <div id="tags-sortable" class = "panel panel-default"></div>
                    </div>
               </div>
            </div>
        </section>
    </div>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

</body>

<%- include standardfooter %>

</html>
