<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>



<body>
<div class="container">
	<div style = "margin-top:100px;" class="centermid">

<meta property="og:title" content="Financials" />

	<article id="post-311" class="post-311 page type-page status-publish hentry">
	<div class="entry-content">
		<p>105 Gibson Centre is supported by the <a href="http://tccc.ca" target="_blank">Toronto Christian Community Church </a>and its members as well as other individual donors. We are also proudly sponsored by the <a href="http://otf.ca">Ontario Trillium Foundation</a>.</p>
<p>We take our financial responsibility very seriously. You can be sure that your money and gifts to 105 Gibson Centre are going to help the families and communities we serve.</p>
<p>&nbsp;</p>
<p><a href="http://otf.ca"><img class="alignnone size-full wp-image-963" src="https://105gibson.files.wordpress.com/2012/03/ontario-trillium-foundation.png?w=648" alt="Ontario-Trillium-Foundation"   /></a></p>
<p>&nbsp;</p>
	</div><!-- .entry-content -->

	</article><!-- #post-## -->

			<br>
	</div>
</div>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>
<%- include standardfooter %>
</html>