<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>105 Gibson</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/css/freelancerhome.css" rel="stylesheet">
    <link href="/css/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stylehome.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script src= "/js/mypagescroll.js"></script> 
    <script src="/js/indexFadeIn.js"></script> 
    
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="scroll" href="#page-top"><img src="/img/gibsonlogo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="scroll circle-link">
                        <a href="#AboutUs" class = "scroll"><p id="aboutus">Courses</p></a>
                    </li>
                    <li class="scroll circle-link">
                        <a href="#portfolio" class = "scroll"><p id="events">Events</p></a>
                    </li>
                    <li class="scroll circle-link">
                        <a href="#GetInvolved" class = "scroll"><p id="getinvolved">Get Involved</p></a>
                    </li>
                    <li class="scroll circle-link">
                        <a href="#map" class = "scroll"><p id="location">Location</p></a>
                    </li>
                    <li class="circle-link">
                        <a href="/signup"><p id="signup">Sign Up</p></a>
                    </li>
                    <li class="circle-link">
                        <a href="/login"><p id="login">Login</p></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
     <header id="myCarousel" class="carousel slide fadedIn" data-ride = "carousel"data-interval = "5000"style="height:600px;">

     <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url(/img/gibsonpic.jpg);"></div>
            <!-- <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div> -->
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url(/img/footprints1.JPG);"></div>
            <!-- <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div> -->
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url(/img/youth-games.jpg);"></div>
            <!-- <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div> -->
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
    </header>


    <!-- About Section -->
    <section id="AboutUs" class="gibsonblue">
        <div class="container">
                <div class="col-lg-12 text-center">
                    <h1>Courses</h1>
                    <hr class="star-blue">
                </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Whether you are an existing user of 105 Gibson Centre or completely new to us, you can now access course information for the term and register online!</p>
                </div>
                <div class="col-lg-4">
                    <p>Full payment for program registration can be made in person by cash, cheque made to 105 Gibson Centre or by credit card online.</p>
                </div>
            </div>
        </div>
    </section>
    <hr>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="gibsongreen evenpadding">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1>Events</h1>
                <hr class="star-green">
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <img class="portfolio-link background-imgr eventpic" src="img/footprints2.JPG">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i><span>WHO WE ARE</span></i>
                            </div>
                        </div> -->
                    <a href="https://105gibson.wordpress.com/what-we-do/senior-program/" class="piccaption"><h3>Senior Programs</h3></a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img class="portfolio-link background-imgr eventpic" src="img/youth-sports.jpg">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i><span>WHAT WE DO</span></i>
                            </div>
                        </div> -->
                    <a href="https://105gibson.wordpress.com/what-we-do/sports/" class="piccaption"><h3>Sports Programs</h3></a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img class="portfolio-link background-imgr eventpic" src="img/youth-afterschool.jpg">
                        <!-- <div class="caption">
                            <div class="caption-content">
                                <i><span>WHO WE ARE</span></i>
                            </div>
                        </div> -->
                    <a href="https://105gibson.wordpress.com/what-we-do/youth-services/" class="piccaption"><h3>Youth Programs</h3></a>
                </div>
            </div>
        </div>
    </section>
    <hr>

    <!-- Contact Section -->
    <section id="GetInvolved" class="gibsonorange">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Get Involved</h2>
                    <hr class="star-orange">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="center">
                            <p>We need people like you to support our work here at 105 Gibson! There are numerous ways for you to get involved, click to see some of the things you can do online and offline to contribute and be a part of the community!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>

    <section id="map" class="map">
            <div class="col-lg-12 text-center">
                <h2 class="bluecolour">Location of 105 GIBSON CENTRE</h2>
                <p class="blackFont">105 Gibson Drive, Markham, ON L3R 3K7</p>
            </div>
            <div class="overlay" onClick="style.pointerEvents='none'"></div>
            <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJwTg3RofT1IkRuWTPdJt2E68&key=AIzaSyC0ibZ-88d7HdzYlAzrMVkqyV8zJb8RNIY" allowfullscreen></iframe>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/waypointFadeHome.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <script src="/js/setBackgroundImage.js"></script>

    <!-- Custom Theme JavaScript -->
 <!--   <script src="/js/freelancer.js"></script>--> 

</body>
    
    <%- include standardfooter %>

</html>
