<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>
<body>
	<!--home page image-->
	<section>
		<img src="https://s-media-cache-ak0.pinimg.com/originals/51/aa/c8/51aac8e5328790194fc4220dfd88c1f7.gif" style="width:1680px;height:400px;" align="center">
	</section>

	<section>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2>Information</h2>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 portfolio-item">
	                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
	                        <img src="https://s-media-cache-ak0.pinimg.com/originals/51/aa/c8/51aac8e5328790194fc4220dfd88c1f7.gif" class="img-responsive" alt="">
	                    </a>
	                    <p><strong>WHAT WE DO</strong></p>
	                    <p>We offer a wide range of social services at our 47,000-square-feet facility, such as youth services, seniors programs, food bank, wellness awareness series, recreational activities and more.</p>
	                </div>
	                <div class="col-sm-4 portfolio-item">
	                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
	                        <img src="https://s-media-cache-ak0.pinimg.com/originals/51/aa/c8/51aac8e5328790194fc4220dfd88c1f7.gif" class="img-responsive" alt="">
	                    </a>
	                    <p><strong>GET INVOLVED</strong></p>
	                    <p>We need people like you to support our work here at 105 Gibson! There are numerous ways for you to get involved, click to see some of the things you can do online and offline to contribute and be a part of the community!</p>
	                </div>
	                <div class="col-sm-4 portfolio-item">
	                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
	                        <img src="https://s-media-cache-ak0.pinimg.com/originals/51/aa/c8/51aac8e5328790194fc4220dfd88c1f7.gif" class="img-responsive" alt="">
	                    </a>
	                    <p><strong>Events</strong></p>
	                    <p>EventEventEventEventEvent EventEventEventEvent EventEventEventEvent EventEventEventEvent EventEventEventEventEvent EventEventEventEvent EventEventEventEvent</p>
	                </div>
	            </div>
	        </div>
	    </section>

    <%- include standardfooter %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>

</html>
