<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<head>
	<script src="/js/escapeHtml.js"></script>
	<script src="/js/loginajax.js"></script>
</head>

<body>
<div class="container page-wrap absolute-background" data-background="/img/gibsonpic.jpg">
	<div class="row text-center centermid logindesign">

	<div class = "col-sm-offset-3 col-sm-6">
		<div class = "panel panel-default fadedIn"><!--PanelStart-->
			<div class = "panel-heading">
				<h1><span class = "fa fa-lock"></span> Login</h1>
			</div>
			<div class = "panel-body">
				<form action="/login" method="POST" class="form-horizontal" role="form">

				<!--sending csrf token-->
        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">

				<!--Username input-->
				<div class="form-group">
					<label for="Username" class="col-sm-3 control-label">Username:</label>
					<div class="col-sm-7">
			   			<input type="Username" class="form-control" id="username" name="username" placeholder ="Username" required><!--tried xss protection here need testing-->
					</div>
				</div>

				<!--Password input-->
				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">Password:</label>
					<div class="col-sm-7">
			   	 		<input type="password" class="form-control" id="password" name="password" placeholder = "Password" required>
					</div>
				</div>

				<!--Remember me Checkbox
				<div class = "form-group">

					<div class = "col-sm-offset-1 col-sm-8">
						<div class="checkbox">
                                <label><input type="checkbox" id = "remember_me" value ="1" checked/>Remember me</label>
                        </div>
					</div>
				</div>
				-->

				<div class = "form-group">
					<div class = "col-sm-offset-1 col-sm-11">
						<a href= "/forgotusername" id="forgotuser">Forgot username?</a>
					</div>
					<div class = "col-sm-offset-1 col-sm-11">
						<a href= "/forgotpassword" id="forgotpw">Forgot password?</a>
					</div>
				</div>

				<!--Submit Button-->
				<div class="form-group">
					<div class="col-sm-7 col-sm-offset-3">
						<button type="button" id="submit" name="login" onClick="loginajax()" class="btn  btn-block btn-primary">Login</button>
					</div>
				</div>


				</form>
			</div> <!--Panel body end-->

			<!--Not registered-->

			<div class= "panel-footer">
				Not registered? <a href= "/signup" id="registerhere">Register here</a>
			</div>
		</div><!--End of Panel-->
		</div>
	</div>
</div>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>

    <!-- Set Background Javascript -->
    <script src="/js/setBackgroundImage.js"></script>

    <!-- Hide Navbar Items -->
    <script src="/js/navbarhide.js"></script>

</body>
<%- include standardfooter %>


</html>
