<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<body>
<div class="container">
	<div style = "margin-top:100px;" class="centermid">

<article id="post-309" class="post-309 page type-page status-publish hentry">
	<div class="entry-content">
    
        		<p>Welcome to our Media Centre. We’ve put together these resources for members of the media to tell 105 Gibson&#8217;s story with accurate information and high-res images. If you need something that isn’t listed here, please feel free to contact us.</p>
        <div class="jetpack-video-wrapper"><span class='embed-youtube' style='text-align:center; display: block;'><iframe class='youtube-player' type='text/html' width='560' height='315' src='https://www.youtube.com/embed/hlDWOct6q4o?version=3&#038;rel=1&#038;fs=1&#038;autohide=2&#038;showsearch=0&#038;showinfo=1&#038;iv_load_policy=1&#038;wmode=transparent' frameborder='0' allowfullscreen='true'></iframe></span></div>
        <h4>Quick Facts</h4>
        <ul>
        <li><a href="https://105gibson.files.wordpress.com/2012/03/105-gibson-centre-about-us.pdf" target="_blank">105 Gibson Fact Sheet (Eng)</a> &#8211; Our background &amp; Program Highlights</li>
        <li><a href="https://105gibson.files.wordpress.com/2012/03/105-gibson-centre-about-us-chi.pdf" target="_blank">105 Gibson Fact Sheet (繁中)</a></li>
        <li><a title="The Team" href="https://105gibson.wordpress.com/team/" target="_blank">Meet the Team</a> &#8211; Bios of our Staff &amp;Committee Members</li>
        </ul>
        <hr />
        <h4>Photos for Media Use</h4>
        <p><em>These high-res images are pre-approved for use by members of the media for news-related and editorial coverage. Please credit &#8220;105 Gibson Centre&#8221; and &#8220;Andes Lo&#8221; .</em></p>
        <div class="tiled-gallery type-rectangular tiled-gallery-unresized" data-original-width="648" data-carousel-extra='{&quot;blog_id&quot;:34140017,&quot;permalink&quot;:&quot;https:\/\/105gibson.wordpress.com\/who-we-are\/media\/&quot;,&quot;likes_blog_id&quot;:34140017}' > <div class="gallery-row" style="width: 648px; height: 322px;" data-original-width="648" data-original-height="322" > <div class="gallery-group images-1" style="width: 216px; height: 322px;" data-original-width="216" data-original-height="322" > <div class="tiled-gallery-item tiled-gallery-item-small"> <a href="https://105gibson.wordpress.com/get-involved/gb-day1-0034/" border="0"> <img data-attachment-id="2114" data-orig-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0034.jpg" data-orig-size="800,1200" data-comments-opened="" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;Andes Lo&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;Andes Lo Photography&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="gb-day1-0034" data-image-description="" data-medium-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0034.jpg?w=200" data-large-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0034.jpg?w=648" src="https://105gibson.files.wordpress.com/2012/03/gb-day1-0034.jpg?w=212&#038;h=318&#038;crop=1" width="212" height="318" data-original-width="212" data-original-height="318" title="gb-day1-0034" alt="" style="width: 212px; height: 318px;" /> </a> <div class="tiled-gallery-caption"> Jonathan Chan, General Director of 105 Gibson Centre </div> </div> </div> <!-- close group --> <div class="gallery-group images-1" style="width: 216px; height: 322px;" data-original-width="216" data-original-height="322" > <div class="tiled-gallery-item tiled-gallery-item-small"> <a href="https://105gibson.wordpress.com/get-involved/gb-day1-0007/" border="0"> <img data-attachment-id="2112" data-orig-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0007.jpg" data-orig-size="800,1200" data-comments-opened="" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;Andes Lo&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;Andes Lo Photography&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="gb-day1-0007" data-image-description="" data-medium-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0007.jpg?w=200" data-large-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0007.jpg?w=648" src="https://105gibson.files.wordpress.com/2012/03/gb-day1-0007.jpg?w=212&#038;h=318&#038;crop=1" width="212" height="318" data-original-width="212" data-original-height="318" title="gb-day1-0007" alt="" style="width: 212px; height: 318px;" /> </a> <div class="tiled-gallery-caption"> Pastor Danny Leung, Manager of Cultural Cafe </div> </div> </div> <!-- close group --> <div class="gallery-group images-1" style="width: 216px; height: 322px;" data-original-width="216" data-original-height="322" > <div class="tiled-gallery-item tiled-gallery-item-small"> <a href="https://105gibson.wordpress.com/get-involved/gb-day1-0022/" border="0"> <img data-attachment-id="2113" data-orig-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0022.jpg" data-orig-size="800,1200" data-comments-opened="" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;Andes Lo&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;Andes Lo Photography&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="gb-day1-0022" data-image-description="" data-medium-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0022.jpg?w=200" data-large-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0022.jpg?w=648" src="https://105gibson.files.wordpress.com/2012/03/gb-day1-0022.jpg?w=212&#038;h=318&#038;crop=1" width="212" height="318" data-original-width="212" data-original-height="318" title="gb-day1-0022" alt="" style="width: 212px; height: 318px;" /> </a> <div class="tiled-gallery-caption"> Rev. Dr. Harding Ng, Senior Pastor at Toronto Christian Community Church </div> </div> </div> <!-- close group --> </div> <!-- close row --> <div class="gallery-row" style="width: 648px; height: 233px;" data-original-width="648" data-original-height="233" > <div class="gallery-group images-1" style="width: 324px; height: 233px;" data-original-width="324" data-original-height="233" > <div class="tiled-gallery-item tiled-gallery-item-large"> <a href="https://105gibson.wordpress.com/what-we-do/cultural-cafe/gb-day1-0012/" border="0"> <img data-attachment-id="2122" data-orig-file="https://105gibson.files.wordpress.com/2014/03/gb-day1-0012.jpg" data-orig-size="1200,857" data-comments-opened="" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;Andes Lo&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;Andes Lo Photography&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="gb-day1-0012" data-image-description="" data-medium-file="https://105gibson.files.wordpress.com/2014/03/gb-day1-0012.jpg?w=300" data-large-file="https://105gibson.files.wordpress.com/2014/03/gb-day1-0012.jpg?w=648" src="https://105gibson.files.wordpress.com/2014/03/gb-day1-0012.jpg?w=320&#038;h=229&#038;crop=1" width="320" height="229" data-original-width="320" data-original-height="229" title="gb-day1-0012" alt="" style="width: 320px; height: 229px;" /> </a> <div class="tiled-gallery-caption"> Cultural Cafe Staff Group-photo in front of the hand-drawn menu wall. </div> </div> </div> <!-- close group --> <div class="gallery-group images-1" style="width: 324px; height: 233px;" data-original-width="324" data-original-height="233" > <div class="tiled-gallery-item tiled-gallery-item-large"> <a href="https://105gibson.wordpress.com/get-involved/gb-day1-0023/" border="0"> <img data-attachment-id="2115" data-orig-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0023.jpg" data-orig-size="1200,857" data-comments-opened="" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;Andes Lo&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;Andes Lo Photography&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="gb-day1-0023" data-image-description="" data-medium-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0023.jpg?w=300" data-large-file="https://105gibson.files.wordpress.com/2012/03/gb-day1-0023.jpg?w=648" src="https://105gibson.files.wordpress.com/2012/03/gb-day1-0023.jpg?w=320&#038;h=229&#038;crop=1" width="320" height="229" data-original-width="320" data-original-height="229" title="gb-day1-0023" alt="" style="width: 320px; height: 229px;" /> </a> <div class="tiled-gallery-caption"> Rev. Dr. Harding Ng, Senior Pastor at Toronto Christian Community Church </div> </div> </div> <!-- close group --> </div> <!-- close row --> </div>
        <hr />
        <p>&nbsp;</p>
        <h4><a href="https://105gibson.wordpress.com/category/press-release/" target="_blank">Press Releases</a></h4>
        <ul class="display-posts-listing"><li class="listing-item" style="clear: both;"><a class="title" href="https://105gibson.wordpress.com/2015/06/29/%e9%a6%99%e6%b8%af%e8%97%9d%e4%ba%ba%e9%bb%83%e6%84%b7%e6%ac%a3%e3%80%81%e6%af%9b%e8%88%9c%e7%ad%a0%e3%80%81%e6%9d%9c%e9%ba%97%e8%8e%8e%e3%80%81%e9%84%ad%e6%95%ac%e5%9f%ba%e5%b0%87%e5%87%ba%e5%b8%ad/">香港藝人黃愷欣、毛舜筠、杜麗莎、鄭敬基將出席「夢想成真，恩及社群」音樂分享晚會</a> <span class="date">(6/29/2015)</span></li><li class="listing-item" style="clear: both;"><a class="title" href="https://105gibson.wordpress.com/2013/10/03/10-5-2013-opening-day-news-release/">10.5.2013  &#8211;  Opening Day News&nbsp;Release</a> <span class="date">(10/3/2013)</span></li></ul>
        <h4><a href="https://105gibson.wordpress.com/who-we-are/media-coverage/" target="_blank">Media Coverage</a></h4>
        <p>Here you will find our presence previously in the news.</p>

	</div><!-- .entry-content -->

	</article><!-- #post-## -->
	</div>
</div>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>
<%- include standardfooter %>
</html>