<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<body id="page-top" class="index">

    <!-- Portfolio Grid Section -->
    <section>
        <div class = "container">
                <br/><br/>
                <h2>Part A: Your Information</h2>
                    <form name="frm" action = "/signup" method = "post" role = "form">

                    <!--Input first, last name and date-->
                    <div class = "row">
                        <div class = "form-group col-sm-3">
                            <label> Last Name: </label>
                            <input type = "text" class = "form-control" name = "lname" id = "lname" required>
                        </div>
                        <div class = "form-group col-sm-3">
                            <label> First Name: </label>
                            <input type = "text" class = "form-control" name = "fname" id = "fname" required>
                        </div>
                        <div class = "form-group col-sm-2">
                            <label> Birth Date:</label>
                            <input type = "date" class = "form-control" name ="birth_date" id = "birth_date" min="1000-01-01" max="3000-12-31"required>
                        </div>
                    </div>
                    
                    <!--Input Gender, Address and Postal Code-->
                    <div class = "row">
                        <div class = "form-group col-sm-2">
                            <label class = "control-label"> Gender: </label>
                            <select class = "form-control" name = "gender" id = "gender" required>
                                <option value = "Male">Male</option>
                                <option value = "Female">Female</option>
                                <option value = "Unknown">Unspecified</option>
                            </select>
                        </div>
                        <div class = "form-group col-sm-4">
                            <label class = "control-label"> Address: </label>
                            <input type = "text" class = "form-control" name = "address" id = "address" required>
                        </div>
                        <div class = "form-group col-sm-2">
                            <label class = "control-label"> Postal Code: </label>
                            <input type = "text" class = "form-control" name = "postal_code" id="postal_code" maxlength="6" placeholder="eg.A1A1A1" required>
                        </div>
                    </div>
                    
                    <!--Input Unit#, City and Province-->
                    <div class = "row">
                        <div class = "form-group col-sm-2">
                            <label class = "control-label"> Apt/Unit#: </label>
                            <input type = "number" class = "form-control" name = "apt" id = "apt">
                        </div>
                        <div class = "form-group col-sm-4">
                            <label class = "control-label"> City: </label>
                            <input type = "text" class = "form-control" name = "city" id = "city" required>
                        </div>
                        <div class = "form-group col-sm-2">
                            <label class = "control-label"> Province: </label>
                            <input type = "text" class = "form-control" name = "province" id = "province" required>
                        </div>
                    </div>
                    
                    <!--Input Phone Number-->
                    <div class = "row">
                        <div class = "form-group col-sm-4">
                            <label class = "control-label"> Phone(Primary/Cell): </label>
                            <input class = "form-control" type = "text" name = "primary_phone" id = "primary_phone" maxlength="16">
                        </div>
                        <div class = "form-group col-sm-4">
                            <label class = "control-label"> Phone(Home/Business): </label>
                            <input class = "form-control"type = "text" name = "secondary_phone" id = "secondary_phone" maxlength="16">
                        </div>
                    </div>
                    
                    <!--Input Email-->
                    <div class = "row">
                        <div class="form-group col-sm-8">
                            
                            <label class="control-label">Email:</label>
                            <input  class = "form-control" type="email" name = "email" id="email" placeholder="Enter email" required>
                        
                        </div>
                    </div>

                    <!--Input Username-->
                    <div class = "row">
                        <div class="form-group col-sm-8">
                            <label class="control-label">Username:</label>
                            <input class = "form-control" type="text" name ="username" id="username" required>
                        </div>
                    </div>

                    <!--Input Password-->
                    <div class = "row">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Password:</label>
                            <input type="password" class = "form-control" name = "password" id="password" placeholder="Enter Password" minlength= "6" required>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Confirm Password:</label>
                            <input type="password" class = "form-control" name = "passwordhashed" id="passwordhashed" placeholder="Re-enter Password" required>
                        </div>
                    </div>
                    <p>Password must have a minimum 6 characters</p>
                    <br/>

                    <!--Checkbox for notifications-->
                    <div class= "row">
                        <label><input type="checkbox" id="send_notifications" value="1" checked>Would you like some notifications</label>
                    </div>
                    <button type = "submit" class = "btn btn-default" onclick="return val()">Submit</button>
                    </form>
                </div>
    </section>

    <%- include standardfooter %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
