<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <HEAD><title> <%= title %> </title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="/css/freelancer.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/css/sweetalert.css" type="text/css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="moveIcon" href="/"><img src = "/img/gibsonlogo.png" alt ="wtf"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <!-- Drop down items to be removed and possibly added later in Website Migration Phase
                    
                    <li class = "dropdown">
                        <a class = "dropdown-toggle" href="/aboutus">About Us</a>
                        <ul class = "dropdown-menu">
                            <li><a href="/Philosophy">Philosophy and Vision</a></li>
                            <li><a href="/theteam">The Team</a></li>
                            <li><a href="/financials">Financials</a></li>
                            <li><a href="/mediacentre">Media Centre</a></li>
                            <li><a href="/hours">Hours and Contact Info</a></li>
                        </ul>
                    </li>
                    <li class = "dropdown">
                        <a class = "dropdown-toggle" href="/programs">Programs &amp; Services</a>
                        <ul class = "dropdown-menu">
                            <li><a href="/community">Community Classrooms</a></li>
                            <li><a href="/youth">Youth Services</a></li>
                            <li><a href="/seniorprograms">Senior Program</a></li>
                            <li><a href="/sportsdropins">Sports Drop-ins</a></li>
                            <li><a href="/communityneeds">Community-Needs / Foodbank</a></li>
                            <li><a href="/culturalcage">Cultural Cafe</a></li>
                            <li><a href="/facilityrentals">Facility Rentals</a></li>
                        </ul>
                    </li>
                    <li class = "dropdown">
                        <a class = "dropdown-toggle" href="/news">News &amp; Events</a>
                        <ul class = "dropdown-menu">
                            <li><a href="/footprints">Footprints Walkathon Carnival</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/newsletters">Newsletters</a></li>
                        </ul>
                    </li>
                    <li class = "dropdown">
                        <a class = "dropdown-toggle" href="/getinvolved">Get Involved</a>
                        <ul class = "dropdown-menu">
                            <li><a href="/volunteer">Volunteer</a></li>
                            <li><a href="/donate">Donate</a></li>
                        </ul>
                    </li>

                    -->
                    <li id="cart"><a href="/cart"><i class="fa fa-shopping-cart tabicon"></i>Cart</a></li>
                    <li class = "dropdown" id = "userdisplay"></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <script src="/js/jquery.js"></script>
    <script src="/js/navbarajax.js"></script>
    <script src="/js/sweetalert.min.js"></script>

</body>
</html>