<!DOCTYPE HTML>
<html>
	<head>
		<title> <%= title %> </title>

		<script = "text/javascript">
			if (localStorage.getItem("access_token"))
				var myRequest = new XMLHttpRequest();
				client.setRequestHeader('x-access-token', localStorage.getItem('cookietoken'));
		</script>

	</head>

	<body>
		<p> This page works if you have a valid token. </p>
	</body>
</html>
