<!DOCTYPE html>
<html lang="en">

<%- include standardnavbar.ejs %>

<body>
<div class="container static-background" data-background="/img/gibsonpic.jpg">
	<div style = "margin-top:100px;" class="centermid">

	<!--<style> 
	ol {display:table;margin:0 auto;}
	</style>-->
	<article id="post-314" class="post-314 page type-page status-publish hentry">
	<div class="entry-content">
	
		<h3>105 Gibson Staff</h3>
		<p><img class=" wp-image-2092 size-thumbnail alignleft" src="https://105gibson.files.wordpress.com/2012/03/jonathan_c2.jpg?w=150&#038;h=150" alt="Jonathan Chan, General Director of 105 Gibson Centre" width="150" height="150" /></p>

		<p><strong>Jonathan Chan, <em>General Director of 105 Gibson Centre</em></strong></p>

		<p>Also known as “Mr. Gibson”, Jonathan Chan is the General Director of 105 Gibson Centre. He is fascinated by the lovely neighbourhood where 105 Gibson is located, where the south edge of Markham meets the north of Scarborough with lots of newcomers, the fabric of our future. Jonathan has been a teacher and a pastor in Hong Kong and Canada for the last twenty years. To him, being able to serve is a blessing and to follow the example of Jesus showing open arms to the neighbours is even more exciting.</p>

		<p><img class=" wp-image-2090 size-thumbnail alignleft" src="https://105gibson.files.wordpress.com/2012/03/monica_c.jpg?w=150&#038;h=150" alt="Monica Chan, Director of Client Services &amp; Volunteer" width="150" height="150" /></p>

		<p><strong>Monica Chan, <em>Director of Client Services &amp; Volunteer</em></strong></p>

		<p>Before joining the 105 Gibson Team, Monica had been a cross-cultural missionary, leading an international church planting team among the Japanese for 10 years and was a chaplain in nursing homes for 11 years later on in Toronto. During that period of time, Monica worked closely with volunteers and has grown a deep appreciation of volunteers serving unconditionally. In view of the great demand and her heart for seniors’ ministry, she believes that the strong team of volunteers at 105 Gibson will be a blessing to the whole community through helping the seniors and their families.</p>

		<p><img class="alignleft wp-image-2130 size-thumbnail" src="https://105gibson.files.wordpress.com/2015/07/sophia_c.jpg?w=150&#038;h=150" alt="Sophia_C" width="150" height="150" /></p>

		<p><strong>Sophia Chan,<em> Director of Youth Services</em></strong></p>

		<p>As the Director of Youth Services at 105 Gibson Centre, Sophia believes that young people are given with a reservoir of talents and dreams. Her goal is to get to know the young people in the community, journey with them and witness their progress of engaging in their vocation with contribution to society. She hopes that 105 Gibson Centre will serve as a home where they experience love, faith, and hope, and would be nurtured to become world citizens. Sophia was graduated with Master of Divinity from Tyndale Seminary in 2000, served as a youth pastor in Toronto Christian Community Church from 2002- 2013 and is presently studying in the Trainer of Youth Ministries program at Bethel Seminary in Hong Kong.</p>

		<p><a href="https://105gibson.files.wordpress.com/2012/03/caleb_y.jpg"><img class="alignleft wp-image-2281" src="https://105gibson.files.wordpress.com/2012/03/caleb_y.jpg?w=150&#038;h=150" alt="" width="150" height="150" /></a></p>

		<p><strong>Caleb Yeung,<em> Athletic Manager (Part-time)</em></strong></p>

		<p>Caleb is the Athletic Manager at 105 Gibson Centre and is currently studying at Tyndale completing a Masters of Divinity degree in Pastoral Studies. He is passionate about using sports as a tool to connect and inspire people. When he is not &#8220;studying&#8221; or wandering the halls of 105 Gibson Centre, he can be found connecting and conversing with others.</p>

		<p>&nbsp;</p>

		<p><strong>Teena Bogner,<em> Business Development Manager (Part-time)</em></strong></p>

		<p>Teena is the Business Development Manager at 105 Gibson Centre. She is a high energy perfectionist and is a go getter. Her vast experience both working and volunteering in the non-profit sector provides the centre with a different perspective and a lot of new ideas.</p>

		<p><img class="alignleft wp-image-2093 size-thumbnail" src="https://105gibson.files.wordpress.com/2012/03/kat_z.jpg?w=150&#038;h=150" alt="Katsaire Zee, Marketing Coordinator" width="150" height="150" /></p>

		<p><strong>Katsaire Zee, <em>Marketing Coordinator</em></strong></p>

		<p>Katsaire is the Marketing Coordinator at 105 Gibson Centre. Her desire to serve the local community has brought her here along with her talent and ideas for 105 Gibson. Her passion is to increase awareness of the opportunities that 105 Gibson has to offer and to let people take advantage of them.</p>

		<p>&nbsp;</p>

		<p><a href="https://105gibson.files.wordpress.com/2012/03/maggie_w.jpg"><img class="wp-image-2280 alignleft" src="https://105gibson.files.wordpress.com/2012/03/maggie_w.jpg?w=150&#038;h=150" alt="" width="150" height="150" /></a></p>

		<p><strong>Maggie Wong,<em> Administrative Coordinator</em></strong></p>
		<p>Maggie is the Administrative Coordinator of 105 Gibson Centre. Her years of experience in international organizations as well as other non-profit organizations have equipped her to serve here. She hopes her administrative experiences can help contribute to the centre and serve more people in need. Her desire is to lead people into God’s family through serving at 105 Gibson Centre.</p>

		<p>&nbsp;</p>

		<h3>The Gibson Ministry Committee</h3>

		<p>The Gibson Ministry Committee comprises of leaders from the community who are experienced professionals and active volunteers. They are committed to working together to provide guidance in steering the ministries of 105 Gibson Centre.</p>

		<p><strong>William Lam, MD &#8211; <em>Chairperson</em></strong></p>

		<p><a href="https://105gibson.files.wordpress.com/2015/07/gb-day2-0008-e1435938121292.jpg"><img class="alignright wp-image-2131 size-thumbnail" src="https://105gibson.files.wordpress.com/2015/07/gb-day2-0008-e1435938121292.jpg?w=150&#038;h=121" alt="" width="150" height="121" /></a>William has been given by God everything his heart desires: an awesome wife and 4 children who love God.  Having worked for 20 years as an emergency room physician, he now spends time with his family and friends, and loving God and His people by serving at TCCC, 105 Gibson Centre, Sanctuary and Out of the Cold ministries.</p>

		<p><strong>Yvonne Yeung, OALA CSLA &#8211; <em>Secretary and Special Events Coordinator</em></strong></p>

		<p>Yvonne has served on the City of Toronto Public Art Commission, the Ontario Association of Landscape Architects Editorial Board, and has been invited as speaker and design critic at a number of universities.  Her award-winning work with the St. James Town community was profiled by the Design Exchange. In 2015, Yvonne was invited to serve as expert practitioner in the topic of environmental resiliency for the Urban Land Institute. She has a passion to improve people’s lives through designing compelling, vibrant places for communities to thrive, and sees 105 Gibson as just the place where cultures are connected and friendships nurtured.</p>

		<p><strong>George Chui, CPA &#8211; <em>Finance Lead</em></strong></p>

		<p>George is the Finance Lead who is a professional accountant by day. He and his wife came to Canada 30 years ago and for them, it hasn’t been an easy journey. However, the Lord has been good to them and the people here have been good to them. Hence, now that their children are grown up, they couldn’t find a better time to pay back by serving the community!</p>

		<p><strong>Ella Wong, MBA &#8211; <em>Marketing Lead</em></strong></p>

		<p>As a PR and marketing executive at a global leader of ICT solutions, Ella is in awe of how technology can help people to connect but their hearts and souls remain distanced and lonely. Hence, she hopes that 105 Gibson can become a home for many. Ella is an experienced marketer and fundraiser for various notable arts and charitable organizations. She looks forward to every Saturday where she finds her greatest joy in conducting the TCCC Children’s Choir.</p>

		<p><strong>YY Chan, CPA &#8211; <em>Facility GM Lead</em></strong></p>

		<p>YY comes with years of experience in property and project management. He is also a certified public accountant. His mission is to bring in a cost effective and efficient way to maintain and prolong the life cycle of the facility.</p>

		<p><strong>Ricky Cheng &#8211; <em>Sports Ministry Lead</em></strong></p>

		<p>Ricky grew up being very active with sports teams at school as well as in the community. He works in sales for a large multinational software company which has provided him the opportunity to meet many interesting people from around the world. He truly understands how difficult it is to find time to remain physically active in today&#8217;s busy society.  Hence, he would like to see sports programs at 105 Gibson as an opportunity for users to exercise the body as well as engage with people in the community in a fun and inviting atmosphere.</p>

		<p><strong>Garry Lam, P. Eng. &#8211; <em>Community-Needs Ministry Lead</em></strong></p>

		<p>Garry is the Lead for Community Needs and a professional engineer by trade. What drives him to serve? Helping people to smile in tough situations and building a bridge for them to experience the love of Jesus Christ.</p>

		<p><strong>Cory Tse, MBA</strong></p>
	</div><!-- .entry-content -->

	</article><!-- #post-## -->


			<br>
			<br>
	</div>
</div>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

    <!-- Set Background Javascript -->
    <script src="/js/setBackgroundImage.js"></script>
</body>
<%- include standardfooter %>
</html>